In [1]:
from shared import *

In [2]:
db_params = {
    'host': config["IN2_HOST"],
    'database': config["IN2_DB"],
    'user': config["IN2_USER"],
    'password': config["IN2_PWD"],
    'port': config["IN2_PORT"]
}

engine = get_engine(db_params)
engine

postgresql+psycopg2://postgres:p0st615*@137.204.72.88:5432/watering_monitoring

Engine(postgresql+psycopg2://postgres:***@137.204.72.88:5432/watering_monitoring)

In [3]:
sql_query = f"""
select ('Field-' || right(md5("refStructureName" || "companyName" || "fieldName" || "plantRow"), 10)) as field, timestamp, xx as x, yy as y, zz as z, value
from data_interpolated
limit 100
"""
di = pd.read_sql(sql_query, engine)
di

               field   timestamp     x     y    z       value
0   Field-cb47f3b3c3  1625101200   0.0  20.0  0.0 -410.884678
1   Field-cb47f3b3c3  1625101200   0.0  40.0  0.0 -232.770735
2   Field-cb47f3b3c3  1625101200   0.0  60.0  0.0  -26.792090
3   Field-cb47f3b3c3  1625101200  35.0  20.0  0.0  -32.299756
4   Field-cb47f3b3c3  1625101200  35.0  40.0  0.0  -78.044286
..               ...         ...   ...   ...  ...         ...
95  Field-cb47f3b3c3  1625101200  45.0  60.0  0.0  -65.887442
96  Field-cb47f3b3c3  1625101200  50.0  20.0  0.0  -28.779326
97  Field-cb47f3b3c3  1625101200  50.0  25.0  0.0  -38.989170
98  Field-cb47f3b3c3  1625101200  50.0  30.0  0.0  -49.199013
99  Field-cb47f3b3c3  1625101200  50.0  35.0  0.0  -59.408856

[100 rows x 6 columns]

In [4]:
sql_query = f"""
select ('Field-' || right(md5("refStructureName" || "companyName" || "fieldName" || "plantRow"), 10)) as field, "value", "unit", "detectedValueTypeId" as type, xx as x, yy as y, zz as z, latitude, longitude, timestamp
from view_data_original
limit 100
"""
dw = pd.read_sql(sql_query, engine)
dw

,field,value,unit,type,x,y,z,latitude,longitude,timestamp
0,Field-cb47f3b3c3,3462.000000,mV,BATTERY_TENS,NaN,NaN,NaN,44.23484,11.801682,1625099407
1,Field-cb47f3b3c3,-291.698426,cbar,GRND_WATER_G,100.0,-60.0,NaN,44.23484,11.801682,1625100307
2,Field-cb47f3b3c3,0.000000,l,DRIPPER,NaN,NaN,NaN,44.23484,11.801682,1625101208
3,Field-cb47f3b3c3,3462.000000,mV,BATTERY_TENS,NaN,NaN,NaN,44.23484,11.801682,1625102107
4,Field-cb47f3b3c3,-26.792090,cbar,GRND_WATER_G,0.0,-60.0,0.0,44.23484,11.801682,1625100307
...,...,...,...,...,...,...,...,...,...,...
95,Field-cb47f3b3c3,0.000000,W/mq,SOLAR_RAD,NaN,NaN,NaN,44.23484,11.801682,1625106608
96,Field-cb47f3b3c3,6.480000,Km/h,WIND_SPEED,NaN,NaN,NaN,44.23484,11.801682,1625105708
97,Field-cb47f3b3c3,203.000000,°N,WIND_DIRECTION,NaN,NaN,NaN,44.23484,11.801682,1625107508
98,Field-cb47f3b3c3,3505.000000,mV,BATTERY_TENS,NaN,NaN,NaN,44.23484,11.801682,1625107508
99,Field-cb47f3b3c3,20.800000,°C,AIR_TEMP,NaN,NaN,NaN,44.23484,11.801682,1625106608

In [5]:
pd.read_sql("select distinct \"detectedValueTypeId\" from view_data_original", engine)

   detectedValueTypeId
0         GRND_WATER_G
1           WIND_SPEED
2                  ETC
3            SOLAR_RAD
4              AIR_HUM
5       WIND_DIRECTION
6             AIR_TEMP
7                  BIG
8              DRIPPER
9        WIND_GUST_MAX
10           PLUV_CURR
11        BATTERY_TENS
12                 BIP
13                 ET0

In [6]:
di["type"] = "GRND_WATER_G"
extend_df(di, "IFarming", "ABDS")
di["agent"] = di["agent"].apply(lambda x: x.replace("Sensor-", "Interpolated-"))
di

,field,timestamp,x,y,z,value,type,datetime,date,month,...,delay,province,region,country,owner,project,agentType,agent,agentHier,type-ext
0,Field-cb47f3b3c3,1625101200,0.0,20.0,0.0,-410.884678,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(0,20,0)","Interpolated-(0,20,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(0,20,0)"
1,Field-cb47f3b3c3,1625101200,0.0,40.0,0.0,-232.770735,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(0,40,0)","Interpolated-(0,40,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(0,40,0)"
2,Field-cb47f3b3c3,1625101200,0.0,60.0,0.0,-26.792090,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(0,60,0)","Interpolated-(0,60,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(0,60,0)"
3,Field-cb47f3b3c3,1625101200,35.0,20.0,0.0,-32.299756,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(35,20,0)","Interpolated-(35,20,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(35,20,0)"
4,Field-cb47f3b3c3,1625101200,35.0,40.0,0.0,-78.044286,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(35,40,0)","Interpolated-(35,40,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(35,40,0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Field-cb47f3b3c3,1625101200,45.0,60.0,0.0,-65.887442,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(45,60,0)","Interpolated-(45,60,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(45,60,0)"
96,Field-cb47f3b3c3,1625101200,50.0,20.0,0.0,-28.779326,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(50,20,0)","Interpolated-(50,20,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(50,20,0)"
97,Field-cb47f3b3c3,1625101200,50.0,25.0,0.0,-38.989170,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(50,25,0)","Interpolated-(50,25,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(50,25,0)"
98,Field-cb47f3b3c3,1625101200,50.0,30.0,0.0,-49.199013,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(50,30,0)","Interpolated-(50,30,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(50,30,0)"
99,Field-cb47f3b3c3,1625101200,50.0,35.0,0.0,-59.408856,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(50,35,0)","Interpolated-(50,35,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(50,35,0)"

In [7]:
extend_df(dw, "IFarming", "ABDS")
dw

,field,value,unit,type,x,y,z,latitude,longitude,timestamp,...,delay,province,region,country,owner,project,agentType,agent,agentHier,type-ext
0,Field-cb47f3b3c3,3462.000000,mV,BATTERY_TENS,NaN,NaN,NaN,44.23484,11.801682,1625099407,...,0,FE,ER,IT,IFarming,ABDS,BATTERY_TENS,BATTERY_TENS-cb47f3b3c3,AssignedDevice,BATTERY_TENS
1,Field-cb47f3b3c3,-291.698426,cbar,GRND_WATER_G,100.0,-60.0,NaN,44.23484,11.801682,1625100307,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(100,-60,0)","Sensor-(100,-60,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(100,-60,0)"
2,Field-cb47f3b3c3,0.000000,l,DRIPPER,NaN,NaN,NaN,44.23484,11.801682,1625101208,...,0,FE,ER,IT,IFarming,ABDS,Dripper,Dripper-cb47f3b3c3,AssignedDevice,DRIPPER
3,Field-cb47f3b3c3,3462.000000,mV,BATTERY_TENS,NaN,NaN,NaN,44.23484,11.801682,1625102107,...,0,FE,ER,IT,IFarming,ABDS,BATTERY_TENS,BATTERY_TENS-cb47f3b3c3,AssignedDevice,BATTERY_TENS
4,Field-cb47f3b3c3,-26.792090,cbar,GRND_WATER_G,0.0,-60.0,0.0,44.23484,11.801682,1625100307,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(0,-60,0)","Sensor-(0,-60,0)-cb47f3b3c3",AssignedDevice,"GRND_WATER_G-(0,-60,0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Field-cb47f3b3c3,0.000000,W/mq,SOLAR_RAD,NaN,NaN,NaN,44.23484,11.801682,1625106608,...,0,FE,ER,IT,IFarming,ABDS,WeatherStation,WeatherStation-cb47f3b3c3,AssignedDevice,SOLAR_RAD
96,Field-cb47f3b3c3,6.480000,Km/h,WIND_SPEED,NaN,NaN,NaN,44.23484,11.801682,1625105708,...,0,FE,ER,IT,IFarming,ABDS,WeatherStation,WeatherStation-cb47f3b3c3,AssignedDevice,WIND_SPEED
97,Field-cb47f3b3c3,203.000000,°N,WIND_DIRECTION,NaN,NaN,NaN,44.23484,11.801682,1625107508,...,0,FE,ER,IT,IFarming,ABDS,WeatherStation,WeatherStation-cb47f3b3c3,AssignedDevice,WIND_DIRECTION
98,Field-cb47f3b3c3,3505.000000,mV,BATTERY_TENS,NaN,NaN,NaN,44.23484,11.801682,1625107508,...,0,FE,ER,IT,IFarming,ABDS,BATTERY_TENS,BATTERY_TENS-cb47f3b3c3,AssignedDevice,BATTERY_TENS
99,Field-cb47f3b3c3,20.800000,°C,AIR_TEMP,NaN,NaN,NaN,44.23484,11.801682,1625106608,...,0,FE,ER,IT,IFarming,ABDS,WeatherStation,WeatherStation-cb47f3b3c3,AssignedDevice,AIR_TEMP

In [8]:
tables = get_tables()
tables["dt_agent"]["json"] = ["x", "y", "z"]

engine = get_engine(out_db_params)

columns = get_columns(tables)
for tablename, cols in tables.items():
    try:
        edf = dw[cols["col"]]
        compute_json(edf, dw, cols)
        edf[cols["col"] + ["rawJSON"]].drop_duplicates().to_sql(tablename, engine, if_exists='append', index=False)
    except Exception as e:
        print(e)

edf

D:\OneDrive - Alma Mater Studiorum Università di Bologna\Documents\repos\watering-extract\shared.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})
D:\OneDrive - Alma Mater Studiorum Università di Bologna\Documents\repos\watering-extract\shared.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})
D:\OneDrive - Alma Mater Studiorum Università di Bologna\Documents\repos\watering-extract\shared.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = df_all[list(set(jso) & set(list(df_all.columns)))].apply(lambda row: row_to_json(row), axis=1)
D:\OneDrive - Alma Mater Studiorum Università di Bologna\Documents\repos\watering-extract\shared.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

,agent,type,field,owner,project,timestamp,value,delay,rawJSON
0,BATTERY_TENS-cb47f3b3c3,BATTERY_TENS,Field-cb47f3b3c3,IFarming,ABDS,1625099407,3462.000000,0,{}
1,"Sensor-(100,-60,0)-cb47f3b3c3",GRND_WATER_G,Field-cb47f3b3c3,IFarming,ABDS,1625100307,-291.698426,0,{}
2,Dripper-cb47f3b3c3,DRIPPER,Field-cb47f3b3c3,IFarming,ABDS,1625101208,0.000000,0,{}
3,BATTERY_TENS-cb47f3b3c3,BATTERY_TENS,Field-cb47f3b3c3,IFarming,ABDS,1625102107,3462.000000,0,{}
4,"Sensor-(0,-60,0)-cb47f3b3c3",GRND_WATER_G,Field-cb47f3b3c3,IFarming,ABDS,1625100307,-26.792090,0,{}
...,...,...,...,...,...,...,...,...,...
95,WeatherStation-cb47f3b3c3,SOLAR_RAD,Field-cb47f3b3c3,IFarming,ABDS,1625106608,0.000000,0,{}
96,WeatherStation-cb47f3b3c3,WIND_SPEED,Field-cb47f3b3c3,IFarming,ABDS,1625105708,6.480000,0,{}
97,WeatherStation-cb47f3b3c3,WIND_DIRECTION,Field-cb47f3b3c3,IFarming,ABDS,1625107508,203.000000,0,{}
98,BATTERY_TENS-cb47f3b3c3,BATTERY_TENS,Field-cb47f3b3c3,IFarming,ABDS,1625107508,3505.000000,0,{}
99,WeatherStation-cb47f3b3c3,AIR_TEMP,Field-cb47f3b3c3,IFarming,ABDS,1625106608,20.800000,0,{}