In [9]:
from shared import *

In [18]:
db_params = {
    'host': config["IN2_HOST"],
    'database': config["IN2_DB"],
    'user': config["IN2_USER"],
    'password': config["IN2_PWD"],
    'port': config["IN2_PORT"]
}

# Construct the connection string
conn_str = "postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}".format(**db_params)
print(conn_str)

# Create a SQLAlchemy engine
engine = create_engine(conn_str)

postgresql+psycopg2://postgres:p0st615*@137.204.72.88:5432/watering_monitoring

In [11]:
# SQL query to select all data from the table
sql_query = f"""
select ('field-' || right(md5("refStructureName" || "companyName" || "fieldName" || "plantRow"), 10)) as field, timestamp, xx as x, yy as y, zz as z, value from data_interpolated limit 100
"""
# select md5(refStructureName || companyName || fieldName || plantRow) as field from data_interpolated limit 100

# Use pandas to read the query result into a DataFrame
di = pd.read_sql(sql_query, engine)

# Now 'df' contains the data from the PostgreSQL table
# df.to_csv('data/sensor_ft.csv', index=False)
di

               field   timestamp     x     y    z       value
0   field-cb47f3b3c3  1625101200   0.0  20.0  0.0 -410.884678
1   field-cb47f3b3c3  1625101200   0.0  40.0  0.0 -232.770735
2   field-cb47f3b3c3  1625101200   0.0  60.0  0.0  -26.792090
3   field-cb47f3b3c3  1625101200  35.0  20.0  0.0  -32.299756
4   field-cb47f3b3c3  1625101200  35.0  40.0  0.0  -78.044286
..               ...         ...   ...   ...  ...         ...
95  field-cb47f3b3c3  1625101200  45.0  60.0  0.0  -65.887442
96  field-cb47f3b3c3  1625101200  50.0  20.0  0.0  -28.779326
97  field-cb47f3b3c3  1625101200  50.0  25.0  0.0  -38.989170
98  field-cb47f3b3c3  1625101200  50.0  30.0  0.0  -49.199013
99  field-cb47f3b3c3  1625101200  50.0  35.0  0.0  -59.408856

[100 rows x 6 columns]

In [19]:
# SQL query to select all data from the table
sql_query = f"""
select ('field-' || right(md5("refStructureName" || "companyName" || "fieldName" || "plantRow"), 10)) as field, "value", "unit", "detectedValueTypeId" as type, xx as x, yy as y, zz as z, latitude, longitude, timestamp from view_data_original limit 10
"""
# 
# Use pandas to read the query result into a DataFrame
dw = pd.read_sql(sql_query, engine)

# Now 'df' contains the data from the PostgreSQL table
# df.to_csv('data/sensor_ft.csv', index=False)
dw

,field,value,unit,type,x,y,z,latitude,longitude,timestamp
0,field-cb47f3b3c3,3462.000000,mV,BATTERY_TENS-A-213,NaN,NaN,NaN,44.23484,11.801682,1625099407
1,field-cb47f3b3c3,-291.698426,cbar,GRND_WATER_G-A-213,100.0,-60.0,NaN,44.23484,11.801682,1625100307
2,field-cb47f3b3c3,0.000000,l,DRIPPER-A-213,NaN,NaN,NaN,44.23484,11.801682,1625101208
3,field-cb47f3b3c3,3462.000000,mV,BATTERY_TENS-A-213,NaN,NaN,NaN,44.23484,11.801682,1625102107
4,field-cb47f3b3c3,-26.792090,cbar,GRND_WATER_G-A-213,0.0,-60.0,0.0,44.23484,11.801682,1625100307
5,field-cb47f3b3c3,-72.089467,cbar,GRND_WATER_G-A-213,35.0,-60.0,NaN,44.23484,11.801682,1625100307
6,field-cb47f3b3c3,0.000000,l,DRIPPER-A-213,NaN,NaN,NaN,44.23484,11.801682,1625098510
7,field-cb47f3b3c3,-53.483392,cbar,GRND_WATER_G-A-213,65.0,-60.0,NaN,44.23484,11.801682,1625100307
8,field-cb47f3b3c3,18.720000,km/h,WIND_GUST_MAX-A-338,NaN,NaN,NaN,44.23484,11.801682,1625098508
9,field-cb47f3b3c3,61.900000,%,AIR_HUM-A-338,NaN,NaN,NaN,44.23484,11.801682,1625101209

In [13]:
# SQL query to select all data from the table
sql_query = f"""
select distinct "detectedValueTypeId" from view_data_original
"""
df = pd.read_sql(sql_query, engine)
df

   detectedValueTypeId
0         GRND_WATER_G
1           WIND_SPEED
2                  ETC
3            SOLAR_RAD
4              AIR_HUM
5       WIND_DIRECTION
6             AIR_TEMP
7                  BIG
8              DRIPPER
9        WIND_GUST_MAX
10           PLUV_CURR
11        BATTERY_TENS
12                 BIP
13                 ET0

In [14]:
di["type"] = "GRND_WATER_G"
extend_df(di, "IFarming", "ABDS")
di

,field,timestamp,x,y,z,value,type,datetime,date,month,...,timestampReceived,delay,province,region,country,owner,project,agent,agentType,type-ext
0,field-cb47f3b3c3,1625101200,0.0,20.0,0.0,-410.884678,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,1625101200,0,FE,ER,IT,IFarming,ABDS,"sensor-(0,20,0)",AssignedDevice,"GRND_WATER_G-(0,20,0)"
1,field-cb47f3b3c3,1625101200,0.0,40.0,0.0,-232.770735,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,1625101200,0,FE,ER,IT,IFarming,ABDS,"sensor-(0,40,0)",AssignedDevice,"GRND_WATER_G-(0,40,0)"
2,field-cb47f3b3c3,1625101200,0.0,60.0,0.0,-26.792090,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,1625101200,0,FE,ER,IT,IFarming,ABDS,"sensor-(0,60,0)",AssignedDevice,"GRND_WATER_G-(0,60,0)"
3,field-cb47f3b3c3,1625101200,35.0,20.0,0.0,-32.299756,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,1625101200,0,FE,ER,IT,IFarming,ABDS,"sensor-(35,20,0)",AssignedDevice,"GRND_WATER_G-(35,20,0)"
4,field-cb47f3b3c3,1625101200,35.0,40.0,0.0,-78.044286,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,1625101200,0,FE,ER,IT,IFarming,ABDS,"sensor-(35,40,0)",AssignedDevice,"GRND_WATER_G-(35,40,0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,field-cb47f3b3c3,1625101200,45.0,60.0,0.0,-65.887442,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,1625101200,0,FE,ER,IT,IFarming,ABDS,"sensor-(45,60,0)",AssignedDevice,"GRND_WATER_G-(45,60,0)"
96,field-cb47f3b3c3,1625101200,50.0,20.0,0.0,-28.779326,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,1625101200,0,FE,ER,IT,IFarming,ABDS,"sensor-(50,20,0)",AssignedDevice,"GRND_WATER_G-(50,20,0)"
97,field-cb47f3b3c3,1625101200,50.0,25.0,0.0,-38.989170,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,1625101200,0,FE,ER,IT,IFarming,ABDS,"sensor-(50,25,0)",AssignedDevice,"GRND_WATER_G-(50,25,0)"
98,field-cb47f3b3c3,1625101200,50.0,30.0,0.0,-49.199013,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,1625101200,0,FE,ER,IT,IFarming,ABDS,"sensor-(50,30,0)",AssignedDevice,"GRND_WATER_G-(50,30,0)"
99,field-cb47f3b3c3,1625101200,50.0,35.0,0.0,-59.408856,GRND_WATER_G,2021-07-01 01:00:00,2021-07-01,2021-7,...,1625101200,0,FE,ER,IT,IFarming,ABDS,"sensor-(50,35,0)",AssignedDevice,"GRND_WATER_G-(50,35,0)"

In [15]:
extend_df(dw, "IFarming", "ABDS")
dw

,field,value,unit,type,x,y,z,latitude,longitude,timestamp,...,timestampReceived,delay,province,region,country,owner,project,agent,agentType,type-ext
0,field-cb47f3b3c3,3462.000000,mV,BATTERY_TENS,NaN,NaN,NaN,44.23484,11.801682,1625099407,...,1625099407,0,FE,ER,IT,IFarming,ABDS,BATTERY_TENS,AssignedDevice,BATTERY_TENS
1,field-cb47f3b3c3,-291.698426,cbar,GRND_WATER_G,100.0,-60.0,NaN,44.23484,11.801682,1625100307,...,1625100307,0,FE,ER,IT,IFarming,ABDS,"sensor-(100,-60,0)",AssignedDevice,"GRND_WATER_G-(100,-60,0)"
2,field-cb47f3b3c3,0.000000,l,DRIPPER,NaN,NaN,NaN,44.23484,11.801682,1625101208,...,1625101208,0,FE,ER,IT,IFarming,ABDS,Dripper,AssignedDevice,DRIPPER
3,field-cb47f3b3c3,3462.000000,mV,BATTERY_TENS,NaN,NaN,NaN,44.23484,11.801682,1625102107,...,1625102107,0,FE,ER,IT,IFarming,ABDS,BATTERY_TENS,AssignedDevice,BATTERY_TENS
4,field-cb47f3b3c3,-26.792090,cbar,GRND_WATER_G,0.0,-60.0,0.0,44.23484,11.801682,1625100307,...,1625100307,0,FE,ER,IT,IFarming,ABDS,"sensor-(0,-60,0)",AssignedDevice,"GRND_WATER_G-(0,-60,0)"
5,field-cb47f3b3c3,-72.089467,cbar,GRND_WATER_G,35.0,-60.0,NaN,44.23484,11.801682,1625100307,...,1625100307,0,FE,ER,IT,IFarming,ABDS,"sensor-(35,-60,0)",AssignedDevice,"GRND_WATER_G-(35,-60,0)"
6,field-cb47f3b3c3,0.000000,l,DRIPPER,NaN,NaN,NaN,44.23484,11.801682,1625098510,...,1625098510,0,FE,ER,IT,IFarming,ABDS,Dripper,AssignedDevice,DRIPPER
7,field-cb47f3b3c3,-53.483392,cbar,GRND_WATER_G,65.0,-60.0,NaN,44.23484,11.801682,1625100307,...,1625100307,0,FE,ER,IT,IFarming,ABDS,"sensor-(65,-60,0)",AssignedDevice,"GRND_WATER_G-(65,-60,0)"
8,field-cb47f3b3c3,18.720000,km/h,WIND_GUST_MAX,NaN,NaN,NaN,44.23484,11.801682,1625098508,...,1625098508,0,FE,ER,IT,IFarming,ABDS,WeatherStation,AssignedDevice,WIND_GUST_MAX
9,field-cb47f3b3c3,61.900000,%,AIR_HUM,NaN,NaN,NaN,44.23484,11.801682,1625101209,...,1625101209,0,FE,ER,IT,IFarming,ABDS,WeatherStation,AssignedDevice,AIR_HUM

In [16]:
tables = {
    "dt_field": {
        "col": ["field", "province", "region", "country"]
    },
    "dt_time": {
        "col": ["timestamp", "datetime", "hour", "date", "month", "year"],
        "json": []
    },
    "dt_agent": {
        "col": ["agent", "agentType"],
        "json": ["x", "y", "z"]
    },
    "ft_measurement": {
        "col": ["agent", "type", "field", "owner", "project", "timestamp", "value", "delay"]
    },
}
db_params = {
    'host': config["OUT_HOST"],
    'database': config["OUT_DB"],
    'user': config["OUT_USER"],
    'password': config["OUT_PWD"],
    'port': config["OUT_PORT"]
}
conn_str = "postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}".format(**db_params)
engine = create_engine(conn_str)

columns = get_columns(tables)
for tablename, cols in tables.items():
    try:
        edf = dw[cols["col"]]
        compute_json(edf, dw, cols)
        edf[cols["col"] + ["rawJSON"]].drop_duplicates().to_sql(tablename, engine, if_exists='append', index=False)
    except Exception as e:
        print(e)

edf

(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "dt_agent_pkey"
DETAIL:  Key (agent)=(WeatherStation) already exists.

[SQL: INSERT INTO dt_agent (agent, "agentType", "rawJSON") VALUES (%(agent__0)s, %(agentType__0)s, %(rawJSON__0)s), (%(agent__1)s, %(agentType__1)s, %(rawJSON__1)s), (%(agent__2)s, %(agentType__2)s, %(rawJSON__2)s), (%(agent__3)s, %(agentType__3)s, %(rawJSON__3)s), (%(agent__4)s, %(agentType__4)s, %(rawJSON__4)s), (%(agent__5)s, %(agentType__5)s, %(rawJSON__5)s), (%(agent__6)s, %(agentType__6)s, %(rawJSON__6)s)]
[parameters: {'agentType__0': 'AssignedDevice', 'rawJSON__0': '{}', 'agent__0': 'BATTERY_TENS', 'agentType__1': 'AssignedDevice', 'rawJSON__1': '{"x": 100.0, "y": -60.0}', 'agent__1': 'sensor-(100,-60,0)', 'agentType__2': 'AssignedDevice', 'rawJSON__2': '{}', 'agent__2': 'Dripper', 'agentType__3': 'AssignedDevice', 'rawJSON__3': '{"x": 0.0, "y": -60.0, "z": 0.0}', 'agent__3': 'sensor-(0,-60,0)', 'agentType__4': 'AssignedDevice', 'rawJSON__4': '{"x": 35.0, "y": -60.0}', 'agent__4': 'sensor-(35,-60,0)', 'agentType__5': 'AssignedDevice', 'rawJSON__5': '{"x": 65.0, "y": -60.0}', 'agent__5': 'sensor-(65,-60,0)', 'agentType__6': 'AssignedDevice', 'rawJSON__6': '{}', 'agent__6': 'WeatherStation'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
(psycopg2.errors.ForeignKeyViolation) insert or update on table "ft_measurement" violates foreign key constraint "ft_measurement_agent_fkey"
DETAIL:  Key (agent)=(BATTERY_TENS) is not present in table "dt_agent".

[SQL: INSERT INTO ft_measurement (agent, type, field, owner, project, timestamp, value, delay, "rawJSON") VALUES (%(agent__0)s, %(type__0)s, %(field__0)s, %(owner__0)s, %(project__0)s, %(timestamp__0)s, %(value__0)s, %(delay__0)s, %(rawJSON__0)s), (%(agent ... 1105 characters truncated ... ld__9)s, %(owner__9)s, %(project__9)s, %(timestamp__9)s, %(value__9)s, %(delay__9)s, %(rawJSON__9)s)]
[parameters: {'type__0': 'BATTERY_TENS', 'project__0': 'ABDS', 'rawJSON__0': '{}', 'owner__0': 'IFarming', 'field__0': 'field-cb47f3b3c3', 'timestamp__0': 1625099407, 'delay__0': 0, 'value__0': 3462.0, 'agent__0': 'BATTERY_TENS', 'type__1': 'GRND_WATER_G', 'project__1': 'ABDS', 'rawJSON__1': '{}', 'owner__1': 'IFarming', 'field__1': 'field-cb47f3b3c3', 'timestamp__1': 1625100307, 'delay__1': 0, 'value__1': -291.6984256599, 'agent__1': 'sensor-(100,-60,0)', 'type__2': 'DRIPPER', 'project__2': 'ABDS', 'rawJSON__2': '{}', 'owner__2': 'IFarming', 'field__2': 'field-cb47f3b3c3', 'timestamp__2': 1625101208, 'delay__2': 0, 'value__2': 0.0, 'agent__2': 'Dripper', 'type__3': 'BATTERY_TENS', 'project__3': 'ABDS', 'rawJSON__3': '{}', 'owner__3': 'IFarming', 'field__3': 'field-cb47f3b3c3', 'timestamp__3': 1625102107, 'delay__3': 0, 'value__3': 3462.0, 'agent__3': 'BATTERY_TENS', 'type__4': 'GRND_WATER_G', 'project__4': 'ABDS', 'rawJSON__4': '{}', 'owner__4': 'IFarming', 'field__4': 'field-cb47f3b3c3', 'timestamp__4': 1625100307, 'delay__4': 0, 'value__4': -26.7920897436, 'agent__4': 'sensor-(0,-60,0)', 'type__5': 'GRND_WATER_G', 'project__5': 'ABDS', 'rawJSON__5': '{}', 'owner__5': 'IFarming', 'field__5': 'field-cb47f3b3c3', 'timestamp__5': 1625100307, 'delay__5': 0, 'value__5': -72.0894674556, 'agent__5': 'sensor-(35,-60,0)', 'type__6': 'DRIPPER', 'project__6': 'ABDS', 'rawJSON__6': '{}', 'owner__6': 'IFarming', 'field__6': 'field-cb47f3b3c3', 'timestamp__6': 1625098510, 'delay__6': 0, 'value__6': 0.0, 'agent__6': 'Dripper', 'type__7': 'GRND_WATER_G', 'project__7': 'ABDS', 'rawJSON__7': '{}', 'owner__7': 'IFarming', 'field__7': 'field-cb47f3b3c3', 'timestamp__7': 1625100307, 'delay__7': 0, 'value__7': -53.4833919936, 'agent__7': 'sensor-(65,-60,0)', 'type__8': 'WIND_GUST_MAX', 'project__8': 'ABDS', 'rawJSON__8': '{}', 'owner__8': 'IFarming', 'field__8': 'field-cb47f3b3c3', 'timestamp__8': 1625098508, 'delay__8': 0, 'value__8': 18.72, 'agent__8': 'WeatherStation', 'type__9': 'AIR_HUM', 'project__9': 'ABDS', 'rawJSON__9': '{}', 'owner__9': 'IFarming', 'field__9': 'field-cb47f3b3c3', 'timestamp__9': 1625101209, 'delay__9': 0, 'value__9': 61.9, 'agent__9': 'WeatherStation'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

d:\OneDrive - Alma Mater Studiorum Università di Bologna\Documents\repos\watering-extract\shared.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})
d:\OneDrive - Alma Mater Studiorum Università di Bologna\Documents\repos\watering-extract\shared.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})
d:\OneDrive - Alma Mater Studiorum Università di Bologna\Documents\repos\watering-extract\shared.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = df_all[jso].apply(lambda row: row_to_json(row), axis=1)
d:\OneDrive - Alma Mater Studiorum Università di Bologna\Documents\repos\watering-extract\shared.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

,agent,type,field,owner,project,timestamp,value,delay,rawJSON
0,BATTERY_TENS,BATTERY_TENS,field-cb47f3b3c3,IFarming,ABDS,1625099407,3462.000000,0,{}
1,"sensor-(100,-60,0)",GRND_WATER_G,field-cb47f3b3c3,IFarming,ABDS,1625100307,-291.698426,0,{}
2,Dripper,DRIPPER,field-cb47f3b3c3,IFarming,ABDS,1625101208,0.000000,0,{}
3,BATTERY_TENS,BATTERY_TENS,field-cb47f3b3c3,IFarming,ABDS,1625102107,3462.000000,0,{}
4,"sensor-(0,-60,0)",GRND_WATER_G,field-cb47f3b3c3,IFarming,ABDS,1625100307,-26.792090,0,{}
5,"sensor-(35,-60,0)",GRND_WATER_G,field-cb47f3b3c3,IFarming,ABDS,1625100307,-72.089467,0,{}
6,Dripper,DRIPPER,field-cb47f3b3c3,IFarming,ABDS,1625098510,0.000000,0,{}
7,"sensor-(65,-60,0)",GRND_WATER_G,field-cb47f3b3c3,IFarming,ABDS,1625100307,-53.483392,0,{}
8,WeatherStation,WIND_GUST_MAX,field-cb47f3b3c3,IFarming,ABDS,1625098508,18.720000,0,{}
9,WeatherStation,AIR_HUM,field-cb47f3b3c3,IFarming,ABDS,1625101209,61.900000,0,{}