In [1]:
from shared import *

In [2]:
db_params = {
    'host': config["IN2_HOST"],
    'database': config["IN2_DB"],
    'user': config["IN2_USER"],
    'password': config["IN2_PWD"],
    'port': config["IN2_PORT"]
}

engine = get_engine(db_params)
engine

postgresql+psycopg2://root:root@127.0.0.1:5432/db

Engine(postgresql+psycopg2://root:***@127.0.0.1:5432/db)

In [3]:
sql_query = """
select ('Field-' || right(md5("refStructureName" || "companyName" || "fieldName" || "plantRow"), 10)) as field, timestamp, xx as x, yy as y, zz as z, value
from data_interpolated
where "fieldName" = 'Fondo Errano_T1 Basso_2023' or "fieldName" = 'Fondo Errano_T1 Alto_2023'
-- limit 100

-- select distinct  "fieldName"
-- from data_interpolated --where "fieldName") like :pattern
-- limit 100
"""
di = pd.read_sql(sql_query, engine)
di

                    field   timestamp     x     y    z        value
0        Field-89ab22cf73  1682632800 -80.0  20.0  0.0   -22.479290
1        Field-89ab22cf73  1682632800 -80.0  40.0  0.0   -22.479290
2        Field-89ab22cf73  1682632800 -80.0  60.0  0.0   -22.766877
3        Field-89ab22cf73  1682632800 -50.0  20.0  0.0   -21.616472
4        Field-89ab22cf73  1682632800 -50.0  40.0  0.0   -21.904088
...                   ...         ...   ...   ...  ...          ...
1913170  Field-365e089d70  1698739200  75.0  55.0  0.0  -831.476098
1913171  Field-365e089d70  1698739200  75.0  60.0  0.0 -1003.279053
1913172  Field-365e089d70  1698739200  80.0  25.0  0.0  -945.175037
1913173  Field-365e089d70  1698739200  80.0  30.0  0.0  -655.083596
1913174  Field-365e089d70  1698739200  80.0  35.0  0.0  -364.992154

[1913175 rows x 6 columns]

In [4]:
sql_query = f"""
select ('Field-' || right(md5("refStructureName" || "companyName" || "fieldName" || "plantRow"), 10)) as field, "value", "unit", "detectedValueTypeId" as type, xx as x, yy as y, zz as z, latitude, longitude, timestamp
from view_data_original
where "fieldName" = 'Fondo Errano_T1 Basso_2023' or "fieldName" = 'Fondo Errano_T1 Alto_2023'
-- limit 100
"""
dw = pd.read_sql(sql_query, engine)
dw

,field,value,unit,type,x,y,z,latitude,longitude,timestamp
0,Field-89ab22cf73,-20.465914,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682977506
1,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682976612
2,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682975707
3,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682974807
4,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682973912
...,...,...,...,...,...,...,...,...,...,...
716651,Field-365e089d70,-1189.485290,cbar,GRND_WATER_G,50.0,-60.0,0.0,44.23484,11.801682,1698703207
716652,Field-365e089d70,-1189.485290,cbar,GRND_WATER_G,50.0,-60.0,0.0,44.23484,11.801682,1698704107
716653,Field-89ab22cf73,-295.735528,cbar,GRND_WATER_G,80.0,-20.0,0.0,44.23484,11.801681,1698735651
716654,Field-89ab22cf73,-295.039619,cbar,GRND_WATER_G,80.0,-20.0,0.0,44.23484,11.801681,1698734754
716655,Field-89ab22cf73,-1140.522569,cbar,GRND_WATER_G,80.0,-40.0,0.0,44.23484,11.801681,1698737452

In [5]:
pd.read_sql("select distinct \"detectedValueTypeId\" from view_data_original", engine)

     detectedValueTypeId
0                AIR_HUM
1               AIR_TEMP
2           BATTERY_TENS
3                    BIG
4                    BIP
5                DRIPPER
6                    ET0
7           GRND_WATER_G
8              PLUV_CURR
9       PLUV_HOURS_COUNT
10             SOLAR_RAD
11        WIND_DIRECTION
12         WIND_GUST_MAX
13            WIND_SPEED
14         WINKLER_INDEX
15  WINKLER_INDEX_GROWTH

In [6]:
di["type"] = "GRND_WATER_G"
extend_df(di, "IFarming", "ABDS")
di["agent"] = di["agent"].apply(lambda x: x.replace("Sensor-", "Interpolated-"))
di

,field,timestamp,x,y,z,value,type,datetime,date,year,...,delay,province,region,country,owner,project,agentType,agent,agentHier,type-ext
0,Field-89ab22cf73,2023-04-27 22:00:00,-80.0,20.0,0.0,-22.479290,GRND_WATER_G,2023-04-27 22:00:00,2023-04-27,2023,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(-80,20,0)","Interpolated-(-80,20,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(-80,20,0)"
1,Field-89ab22cf73,2023-04-27 22:00:00,-80.0,40.0,0.0,-22.479290,GRND_WATER_G,2023-04-27 22:00:00,2023-04-27,2023,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(-80,40,0)","Interpolated-(-80,40,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(-80,40,0)"
2,Field-89ab22cf73,2023-04-27 22:00:00,-80.0,60.0,0.0,-22.766877,GRND_WATER_G,2023-04-27 22:00:00,2023-04-27,2023,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(-80,60,0)","Interpolated-(-80,60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(-80,60,0)"
3,Field-89ab22cf73,2023-04-27 22:00:00,-50.0,20.0,0.0,-21.616472,GRND_WATER_G,2023-04-27 22:00:00,2023-04-27,2023,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(-50,20,0)","Interpolated-(-50,20,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(-50,20,0)"
4,Field-89ab22cf73,2023-04-27 22:00:00,-50.0,40.0,0.0,-21.904088,GRND_WATER_G,2023-04-27 22:00:00,2023-04-27,2023,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(-50,40,0)","Interpolated-(-50,40,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(-50,40,0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913170,Field-365e089d70,2023-10-31 08:00:00,75.0,55.0,0.0,-831.476098,GRND_WATER_G,2023-10-31 08:00:00,2023-10-31,2023,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(75,55,0)","Interpolated-(75,55,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(75,55,0)"
1913171,Field-365e089d70,2023-10-31 08:00:00,75.0,60.0,0.0,-1003.279053,GRND_WATER_G,2023-10-31 08:00:00,2023-10-31,2023,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(75,60,0)","Interpolated-(75,60,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(75,60,0)"
1913172,Field-365e089d70,2023-10-31 08:00:00,80.0,25.0,0.0,-945.175037,GRND_WATER_G,2023-10-31 08:00:00,2023-10-31,2023,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(80,25,0)","Interpolated-(80,25,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(80,25,0)"
1913173,Field-365e089d70,2023-10-31 08:00:00,80.0,30.0,0.0,-655.083596,GRND_WATER_G,2023-10-31 08:00:00,2023-10-31,2023,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(80,30,0)","Interpolated-(80,30,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(80,30,0)"
1913174,Field-365e089d70,2023-10-31 08:00:00,80.0,35.0,0.0,-364.992154,GRND_WATER_G,2023-10-31 08:00:00,2023-10-31,2023,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(80,35,0)","Interpolated-(80,35,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(80,35,0)"

In [7]:
extend_df(dw, "IFarming", "ABDS")
dw

,field,value,unit,type,x,y,z,latitude,longitude,timestamp,...,delay,province,region,country,owner,project,agentType,agent,agentHier,type-ext
0,Field-89ab22cf73,-20.465914,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,2023-05-01 21:45:06,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(25,-60,0)","Sensor-(25,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(25,-60,0)"
1,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,2023-05-01 21:30:12,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(25,-60,0)","Sensor-(25,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(25,-60,0)"
2,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,2023-05-01 21:15:07,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(25,-60,0)","Sensor-(25,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(25,-60,0)"
3,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,2023-05-01 21:00:07,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(25,-60,0)","Sensor-(25,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(25,-60,0)"
4,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,2023-05-01 20:45:12,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(25,-60,0)","Sensor-(25,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(25,-60,0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716651,Field-365e089d70,-1189.485290,cbar,GRND_WATER_G,50.0,-60.0,0.0,44.23484,11.801682,2023-10-30 22:00:07,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(50,-60,0)","Sensor-(50,-60,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(50,-60,0)"
716652,Field-365e089d70,-1189.485290,cbar,GRND_WATER_G,50.0,-60.0,0.0,44.23484,11.801682,2023-10-30 22:15:07,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(50,-60,0)","Sensor-(50,-60,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(50,-60,0)"
716653,Field-89ab22cf73,-295.735528,cbar,GRND_WATER_G,80.0,-20.0,0.0,44.23484,11.801681,2023-10-31 07:00:51,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(80,-20,0)","Sensor-(80,-20,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(80,-20,0)"
716654,Field-89ab22cf73,-295.039619,cbar,GRND_WATER_G,80.0,-20.0,0.0,44.23484,11.801681,2023-10-31 06:45:54,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(80,-20,0)","Sensor-(80,-20,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(80,-20,0)"
716655,Field-89ab22cf73,-1140.522569,cbar,GRND_WATER_G,80.0,-40.0,0.0,44.23484,11.801681,2023-10-31 07:30:52,...,0 days,FE,ER,IT,IFarming,ABDS,"Sensor-(80,-40,0)","Sensor-(80,-40,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(80,-40,0)"

In [8]:
tables = get_tables()
tables["dt_agent"]["json"] = ["x", "y", "z"]

engine = get_engine(out_db_params)

columns = get_columns(tables)
for tablename, cols in tables.items():
    try:
        edf = dw[cols["col"]]
        compute_json(edf, dw, cols)
        edf = edf[cols["col"] + ["rawJSON"]].drop_duplicates()
        if tablename == "dt_time":
            sdate = edf["timestamp"].min() 
            edate = edf["timestamp"].max()
            mydt = pd.DataFrame({'timestamp': pd.date_range(sdate, edate, freq='h')})
            mydt = pd.merge(edf, mydt, on='timestamp', how='outer')
            ext_date(mydt)
            mydt.to_sql(tablename, engine, if_exists='replace', index=False)
        else:
            edf.to_sql(tablename, engine, if_exists='append', index=False)
    except Exception as e:
        print(e)

edf

postgresql+psycopg2://root:root@127.0.0.1:5432/db

/home/mfrancia/watering-dataset/datasets/shared.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

/home/mfrancia/watering-dataset/datasets/shared.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

(psycopg2.errors.DependentObjectsStillExist) cannot drop table dt_time because other objects depend on it
DETAIL:  constraint ft_measurement_timestamp_fkey on table ft_measurement depends on table dt_time
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL:
DROP TABLE dt_time]
(Background on this error at: https://sqlalche.me/e/20/2j85)

/home/mfrancia/watering-dataset/datasets/shared.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = df_all[list(set(jso) & set(list(df_all.columns)))].apply(lambda row: row_to_json(row), axis=1)

/home/mfrancia/watering-dataset/datasets/shared.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

/tmp/ipykernel_3462119/1096798191.py:20: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  edf.to_sql(tablename, engine, if_exists='append', index=False)

(psycopg2.errors.ForeignKeyViolation) insert or update on table "ft_measurement" violates foreign key constraint "ft_measurement_timestamp_fkey"
DETAIL:  Key (timestamp)=(2023-05-01 21:45:06) is not present in table "dt_time".

[SQL: INSERT INTO ft_measurement (agent, type, field, owner, project, timestamp, value, delay, "rawJSON") VALUES (%(agent__0)s, %(type__0)s, %(field__0)s, %(owner__0)s, %(project__0)s, %(timestamp__0)s, %(value__0)s, %(delay__0)s, %(rawJSON__0)s), (%(agent ... 151765 characters truncated ... wner__999)s, %(project__999)s, %(timestamp__999)s, %(value__999)s, %(delay__999)s, %(rawJSON__999)s)]
[parameters: {'project__0': 'ABDS', 'delay__0': 0, 'field__0': 'Field-89ab22cf73', 'timestamp__0': datetime.datetime(2023, 5, 1, 21, 45, 6), 'value__0': -20.4659137116, 'agent__0': 'Sensor-(25,-60,0)-89ab22cf73', 'owner__0': 'IFarming', 'type__0': 'GRND_WATER_G', 'rawJSON__0': '{}', 'project__1': 'ABDS', 'delay__1': 0, 'field__1': 'Field-89ab22cf73', 'timestamp__1': datetime.datetime(2023, 5, 1, 21, 30, 12), 'value__1': -20.75356764, 'agent__1': 'Sensor-(25,-60,0)-89ab22cf73', 'owner__1': 'IFarming', 'type__1': 'GRND_WATER_G', 'rawJSON__1': '{}', 'project__2': 'ABDS', 'delay__2': 0, 'field__2': 'Field-89ab22cf73', 'timestamp__2': datetime.datetime(2023, 5, 1, 21, 15, 7), 'value__2': -20.75356764, 'agent__2': 'Sensor-(25,-60,0)-89ab22cf73', 'owner__2': 'IFarming', 'type__2': 'GRND_WATER_G', 'rawJSON__2': '{}', 'project__3': 'ABDS', 'delay__3': 0, 'field__3': 'Field-89ab22cf73', 'timestamp__3': datetime.datetime(2023, 5, 1, 21, 0, 7), 'value__3': -20.75356764, 'agent__3': 'Sensor-(25,-60,0)-89ab22cf73', 'owner__3': 'IFarming', 'type__3': 'GRND_WATER_G', 'rawJSON__3': '{}', 'project__4': 'ABDS', 'delay__4': 0, 'field__4': 'Field-89ab22cf73', 'timestamp__4': datetime.datetime(2023, 5, 1, 20, 45, 12), 'value__4': -20.75356764, 'agent__4': 'Sensor-(25,-60,0)-89ab22cf73', 'owner__4': 'IFarming', 'type__4': 'GRND_WATER_G', 'rawJSON__4': '{}', 'project__5': 'ABDS', 'delay__5': 0, 'field__5': 'Field-89ab22cf73', 'timestamp__5': datetime.datetime(2023, 5, 1, 20, 30, 6), 'value__5': -20.75356764 ... 8900 parameters truncated ... 'value__994': 3451.0, 'agent__994': 'BATTERY_TENS-365e089d70', 'owner__994': 'IFarming', 'type__994': 'BATTERY_TENS', 'rawJSON__994': '{}', 'project__995': 'ABDS', 'delay__995': 0, 'field__995': 'Field-365e089d70', 'timestamp__995': datetime.datetime(2023, 4, 28, 4, 15, 4), 'value__995': 3462.0, 'agent__995': 'BATTERY_TENS-365e089d70', 'owner__995': 'IFarming', 'type__995': 'BATTERY_TENS', 'rawJSON__995': '{}', 'project__996': 'ABDS', 'delay__996': 0, 'field__996': 'Field-365e089d70', 'timestamp__996': datetime.datetime(2023, 4, 28, 3, 45, 4), 'value__996': 3462.0, 'agent__996': 'BATTERY_TENS-365e089d70', 'owner__996': 'IFarming', 'type__996': 'BATTERY_TENS', 'rawJSON__996': '{}', 'project__997': 'ABDS', 'delay__997': 0, 'field__997': 'Field-365e089d70', 'timestamp__997': datetime.datetime(2023, 4, 28, 3, 15, 4), 'value__997': 3462.0, 'agent__997': 'BATTERY_TENS-365e089d70', 'owner__997': 'IFarming', 'type__997': 'BATTERY_TENS', 'rawJSON__997': '{}', 'project__998': 'ABDS', 'delay__998': 0, 'field__998': 'Field-365e089d70', 'timestamp__998': datetime.datetime(2023, 4, 28, 2, 45, 4), 'value__998': 3462.0, 'agent__998': 'BATTERY_TENS-365e089d70', 'owner__998': 'IFarming', 'type__998': 'BATTERY_TENS', 'rawJSON__998': '{}', 'project__999': 'ABDS', 'delay__999': 0, 'field__999': 'Field-365e089d70', 'timestamp__999': datetime.datetime(2023, 4, 28, 2, 15, 4), 'value__999': 3462.0, 'agent__999': 'BATTERY_TENS-365e089d70', 'owner__999': 'IFarming', 'type__999': 'BATTERY_TENS', 'rawJSON__999': '{}'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

,agent,type,field,owner,project,timestamp,value,delay,rawJSON
0,"Sensor-(25,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-05-01 21:45:06,-20.465914,0 days,{}
1,"Sensor-(25,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-05-01 21:30:12,-20.753568,0 days,{}
2,"Sensor-(25,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-05-01 21:15:07,-20.753568,0 days,{}
3,"Sensor-(25,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-05-01 21:00:07,-20.753568,0 days,{}
4,"Sensor-(25,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-05-01 20:45:12,-20.753568,0 days,{}
...,...,...,...,...,...,...,...,...,...
716651,"Sensor-(50,-60,0)-365e089d70",GRND_WATER_G,Field-365e089d70,IFarming,ABDS,2023-10-30 22:00:07,-1189.485290,0 days,{}
716652,"Sensor-(50,-60,0)-365e089d70",GRND_WATER_G,Field-365e089d70,IFarming,ABDS,2023-10-30 22:15:07,-1189.485290,0 days,{}
716653,"Sensor-(80,-20,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-10-31 07:00:51,-295.735528,0 days,{}
716654,"Sensor-(80,-20,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-10-31 06:45:54,-295.039619,0 days,{}
716655,"Sensor-(80,-40,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-10-31 07:30:52,-1140.522569,0 days,{}