In [1]:
from shared import *

In [2]:
db_params = {
    'host': config["IN2_HOST"],
    'database': config["IN2_DB"],
    'user': config["IN2_USER"],
    'password': config["IN2_PWD"],
    'port': config["IN2_PORT"]
}

engine = get_engine(db_params)
engine

postgresql+psycopg2://root:root@127.0.0.1:5432/db

Engine(postgresql+psycopg2://root:***@127.0.0.1:5432/db)

In [3]:
sql_query = """
select ('Field-' || right(md5("refStructureName" || "companyName" || "fieldName" || "plantRow"), 10)) as field, timestamp, xx as x, yy as y, zz as z, value
from data_interpolated
where "fieldName" = 'Fondo Errano_T1 Basso_2023' or "fieldName" = 'Fondo Errano_T1 Alto_2023'
-- limit 100

-- select distinct  "fieldName"
-- from data_interpolated --where "fieldName") like :pattern
-- limit 100
"""
di = pd.read_sql(sql_query, engine)
di

                    field   timestamp     x     y    z      value
0        Field-89ab22cf73  1682733600 -80.0  20.0  0.0 -22.766877
1        Field-89ab22cf73  1682733600 -80.0  40.0  0.0 -22.766877
2        Field-89ab22cf73  1682733600 -80.0  60.0  0.0 -23.102383
3        Field-89ab22cf73  1682733600 -50.0  20.0  0.0 -21.616472
4        Field-89ab22cf73  1682733600 -50.0  40.0  0.0 -21.904088
...                   ...         ...   ...   ...  ...        ...
1913170  Field-365e089d70  1682730000  15.0  45.0  0.0 -24.667422
1913171  Field-365e089d70  1682730000  15.0  50.0  0.0 -26.683002
1913172  Field-365e089d70  1682730000  15.0  55.0  0.0 -28.698582
1913173  Field-365e089d70  1682730000  15.0  60.0  0.0 -30.714162
1913174  Field-365e089d70  1682730000  20.0  20.0  0.0 -24.645456

[1913175 rows x 6 columns]

In [4]:
sql_query = f"""
select ('Field-' || right(md5("refStructureName" || "companyName" || "fieldName" || "plantRow"), 10)) as field, "value", "unit", "detectedValueTypeId" as type, xx as x, yy as y, zz as z, latitude, longitude, timestamp
from view_data_original
where "fieldName" = 'Fondo Errano_T1 Basso_2023' or "fieldName" = 'Fondo Errano_T1 Alto_2023'
-- limit 100
"""
dw = pd.read_sql(sql_query, engine)
dw

,field,value,unit,type,x,y,z,latitude,longitude,timestamp
0,Field-89ab22cf73,-20.465914,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682977506
1,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682976612
2,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682975707
3,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682974807
4,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682973912
...,...,...,...,...,...,...,...,...,...,...
716651,Field-89ab22cf73,-537.159725,cbar,GRND_WATER_G,0.0,-60.0,0.0,44.23484,11.801681,1698584406
716652,Field-89ab22cf73,-156.873620,cbar,GRND_WATER_G,0.0,-40.0,0.0,44.23484,11.801681,1698586206
716653,Field-89ab22cf73,-156.873620,cbar,GRND_WATER_G,0.0,-40.0,0.0,44.23484,11.801681,1698585305
716654,Field-89ab22cf73,-156.543347,cbar,GRND_WATER_G,0.0,-40.0,0.0,44.23484,11.801681,1698584406
716655,Field-89ab22cf73,-1192.719693,cbar,GRND_WATER_G,0.0,-20.0,0.0,44.23484,11.801681,1698586206

In [5]:
pd.read_sql("select distinct \"detectedValueTypeId\" from view_data_original", engine)

     detectedValueTypeId
0                AIR_HUM
1               AIR_TEMP
2           BATTERY_TENS
3                    BIG
4                    BIP
5                DRIPPER
6                    ET0
7           GRND_WATER_G
8              PLUV_CURR
9       PLUV_HOURS_COUNT
10             SOLAR_RAD
11        WIND_DIRECTION
12         WIND_GUST_MAX
13            WIND_SPEED
14         WINKLER_INDEX
15  WINKLER_INDEX_GROWTH

In [6]:
di["type"] = "GRND_WATER_G"
extend_df(di, "IFarming", "ABDS")
di["agent"] = di["agent"].apply(lambda x: x.replace("Sensor-", "Interpolated-"))
di

,field,timestamp,x,y,z,value,type,datetime,date,month,...,delay,province,region,country,owner,project,agentType,agent,agentHier,type-ext
0,Field-89ab22cf73,1682733600,-80.0,20.0,0.0,-22.766877,GRND_WATER_G,2023-04-29 02:00:00,2023-04-29,2023-4,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(-80,20,0)","Interpolated-(-80,20,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(-80,20,0)"
1,Field-89ab22cf73,1682733600,-80.0,40.0,0.0,-22.766877,GRND_WATER_G,2023-04-29 02:00:00,2023-04-29,2023-4,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(-80,40,0)","Interpolated-(-80,40,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(-80,40,0)"
2,Field-89ab22cf73,1682733600,-80.0,60.0,0.0,-23.102383,GRND_WATER_G,2023-04-29 02:00:00,2023-04-29,2023-4,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(-80,60,0)","Interpolated-(-80,60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(-80,60,0)"
3,Field-89ab22cf73,1682733600,-50.0,20.0,0.0,-21.616472,GRND_WATER_G,2023-04-29 02:00:00,2023-04-29,2023-4,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(-50,20,0)","Interpolated-(-50,20,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(-50,20,0)"
4,Field-89ab22cf73,1682733600,-50.0,40.0,0.0,-21.904088,GRND_WATER_G,2023-04-29 02:00:00,2023-04-29,2023-4,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(-50,40,0)","Interpolated-(-50,40,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(-50,40,0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913170,Field-365e089d70,1682730000,15.0,45.0,0.0,-24.667422,GRND_WATER_G,2023-04-29 01:00:00,2023-04-29,2023-4,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(15,45,0)","Interpolated-(15,45,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(15,45,0)"
1913171,Field-365e089d70,1682730000,15.0,50.0,0.0,-26.683002,GRND_WATER_G,2023-04-29 01:00:00,2023-04-29,2023-4,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(15,50,0)","Interpolated-(15,50,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(15,50,0)"
1913172,Field-365e089d70,1682730000,15.0,55.0,0.0,-28.698582,GRND_WATER_G,2023-04-29 01:00:00,2023-04-29,2023-4,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(15,55,0)","Interpolated-(15,55,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(15,55,0)"
1913173,Field-365e089d70,1682730000,15.0,60.0,0.0,-30.714162,GRND_WATER_G,2023-04-29 01:00:00,2023-04-29,2023-4,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(15,60,0)","Interpolated-(15,60,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(15,60,0)"
1913174,Field-365e089d70,1682730000,20.0,20.0,0.0,-24.645456,GRND_WATER_G,2023-04-29 01:00:00,2023-04-29,2023-4,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(20,20,0)","Interpolated-(20,20,0)-365e089d70",AssignedDevice,"GRND_WATER_G-(20,20,0)"

In [7]:
extend_df(dw, "IFarming", "ABDS")
dw

,field,value,unit,type,x,y,z,latitude,longitude,timestamp,...,delay,province,region,country,owner,project,agentType,agent,agentHier,type-ext
0,Field-89ab22cf73,-20.465914,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682977506,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(25,-60,0)","Sensor-(25,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(25,-60,0)"
1,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682976612,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(25,-60,0)","Sensor-(25,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(25,-60,0)"
2,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682975707,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(25,-60,0)","Sensor-(25,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(25,-60,0)"
3,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682974807,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(25,-60,0)","Sensor-(25,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(25,-60,0)"
4,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682973912,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(25,-60,0)","Sensor-(25,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(25,-60,0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716651,Field-89ab22cf73,-537.159725,cbar,GRND_WATER_G,0.0,-60.0,0.0,44.23484,11.801681,1698584406,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(0,-60,0)","Sensor-(0,-60,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(0,-60,0)"
716652,Field-89ab22cf73,-156.873620,cbar,GRND_WATER_G,0.0,-40.0,0.0,44.23484,11.801681,1698586206,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(0,-40,0)","Sensor-(0,-40,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(0,-40,0)"
716653,Field-89ab22cf73,-156.873620,cbar,GRND_WATER_G,0.0,-40.0,0.0,44.23484,11.801681,1698585305,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(0,-40,0)","Sensor-(0,-40,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(0,-40,0)"
716654,Field-89ab22cf73,-156.543347,cbar,GRND_WATER_G,0.0,-40.0,0.0,44.23484,11.801681,1698584406,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(0,-40,0)","Sensor-(0,-40,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(0,-40,0)"
716655,Field-89ab22cf73,-1192.719693,cbar,GRND_WATER_G,0.0,-20.0,0.0,44.23484,11.801681,1698586206,...,0,FE,ER,IT,IFarming,ABDS,"Sensor-(0,-20,0)","Sensor-(0,-20,0)-89ab22cf73",AssignedDevice,"GRND_WATER_G-(0,-20,0)"

In [8]:
tables = get_tables()
tables["dt_agent"]["json"] = ["x", "y", "z"]

engine = get_engine(out_db_params)

columns = get_columns(tables)
for tablename, cols in tables.items():
    try:
        edf = dw[cols["col"]]
        compute_json(edf, dw, cols)
        edf[cols["col"] + ["rawJSON"]].drop_duplicates().to_sql(tablename, engine, if_exists='append', index=False)
    except Exception as e:
        print(e)

edf

postgresql+psycopg2://root:root@127.0.0.1:5432/db

/home/mfrancia/watering-dataset/datasets/shared.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

/home/mfrancia/watering-dataset/datasets/shared.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

/home/mfrancia/watering-dataset/datasets/shared.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = df_all[list(set(jso) & set(list(df_all.columns)))].apply(lambda row: row_to_json(row), axis=1)

/home/mfrancia/watering-dataset/datasets/shared.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

,agent,type,field,owner,project,timestamp,value,delay,rawJSON
0,"Sensor-(25,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,1682977506,-20.465914,0,{}
1,"Sensor-(25,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,1682976612,-20.753568,0,{}
2,"Sensor-(25,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,1682975707,-20.753568,0,{}
3,"Sensor-(25,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,1682974807,-20.753568,0,{}
4,"Sensor-(25,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,1682973912,-20.753568,0,{}
...,...,...,...,...,...,...,...,...,...
716651,"Sensor-(0,-60,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,1698584406,-537.159725,0,{}
716652,"Sensor-(0,-40,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,1698586206,-156.873620,0,{}
716653,"Sensor-(0,-40,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,1698585305,-156.873620,0,{}
716654,"Sensor-(0,-40,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,1698584406,-156.543347,0,{}
716655,"Sensor-(0,-20,0)-89ab22cf73",GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,1698586206,-1192.719693,0,{}