In [1]:
from shared import *

In [2]:
db_params = {
    'host': config["IN2_HOST"],
    'database': config["IN2_DB"],
    'user': config["IN2_USER"],
    'password': config["IN2_PWD"],
    'port': config["IN2_PORT"]
}

engine = get_engine(db_params)
engine

postgresql+psycopg2://root:root@127.0.0.1:5432/db

Engine(postgresql+psycopg2://root:***@127.0.0.1:5432/db)

In [3]:
sql_query = """
select ('Field-' || right(md5("refStructureName" || "companyName" || "fieldName" || "plantRow"), 10)) as field, timestamp, xx as x, yy as y, zz as z, value
from data_interpolated
where "fieldName" = 'Fondo Errano_T1 Basso_2023' or "fieldName" = 'Fondo Errano_T1 Alto_2023'
-- limit 100

-- select distinct  "fieldName"
-- from data_interpolated --where "fieldName") like :pattern
-- limit 100
"""
di = pd.read_sql(sql_query, engine)
di

                    field   timestamp     x     y    z        value
0        Field-89ab22cf73  1682632800 -80.0  20.0  0.0   -22.479290
1        Field-89ab22cf73  1682632800 -80.0  40.0  0.0   -22.479290
2        Field-89ab22cf73  1682632800 -80.0  60.0  0.0   -22.766877
3        Field-89ab22cf73  1682632800 -50.0  20.0  0.0   -21.616472
4        Field-89ab22cf73  1682632800 -50.0  40.0  0.0   -21.904088
...                   ...         ...   ...   ...  ...          ...
1913170  Field-365e089d70  1698739200  55.0  35.0  0.0 -1123.927706
1913171  Field-365e089d70  1698739200  55.0  40.0  0.0 -1280.733324
1913172  Field-365e089d70  1698739200  80.0  45.0  0.0  -297.885716
1913173  Field-365e089d70  1698739200  80.0  50.0  0.0  -520.870719
1913174  Field-365e089d70  1698739200  80.0  55.0  0.0  -743.855723

[1913175 rows x 6 columns]

In [4]:
sql_query = f"""
select ('Field-' || right(md5("refStructureName" || "companyName" || "fieldName" || "plantRow"), 10)) as field, "value", "unit", "detectedValueTypeId" as measurement_type, xx as x, yy as y, zz as z, latitude, longitude, timestamp
from view_data_original
where "fieldName" = 'Fondo Errano_T1 Basso_2023' or "fieldName" = 'Fondo Errano_T1 Alto_2023'
-- limit 100
"""
dw = pd.read_sql(sql_query, engine)
dw

,field,value,unit,measurement_type,x,y,z,latitude,longitude,timestamp
0,Field-89ab22cf73,-20.465914,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682977506
1,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682976612
2,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682975707
3,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682974807
4,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,1682973912
...,...,...,...,...,...,...,...,...,...,...
716651,Field-89ab22cf73,-914.649279,cbar,GRND_WATER_G,80.0,-60.0,0.0,44.23484,11.801681,1698734754
716652,Field-89ab22cf73,-296.848857,cbar,GRND_WATER_G,80.0,-20.0,0.0,44.23484,11.801681,1698737452
716653,Field-89ab22cf73,-295.735528,cbar,GRND_WATER_G,80.0,-20.0,0.0,44.23484,11.801681,1698735651
716654,Field-89ab22cf73,-295.039619,cbar,GRND_WATER_G,80.0,-20.0,0.0,44.23484,11.801681,1698734754
716655,Field-89ab22cf73,-1140.522569,cbar,GRND_WATER_G,80.0,-40.0,0.0,44.23484,11.801681,1698737452

In [5]:
pd.read_sql("select distinct \"detectedValueTypeId\" from view_data_original", engine)

     detectedValueTypeId
0                AIR_HUM
1               AIR_TEMP
2           BATTERY_TENS
3                    BIG
4                    BIP
5                DRIPPER
6                    ET0
7           GRND_WATER_G
8              PLUV_CURR
9       PLUV_HOURS_COUNT
10             SOLAR_RAD
11        WIND_DIRECTION
12         WIND_GUST_MAX
13            WIND_SPEED
14         WINKLER_INDEX
15  WINKLER_INDEX_GROWTH

In [6]:
di["measurement_type"] = "GRND_WATER_G"
extend_df(di, "IFarming", "ABDS")
di["agent"] = di["agent"].apply(lambda x: x.replace("Sensor-", "Interpolated-"))
di

,field,timestamp,x,y,z,value,measurement_type,datetime,date,day,...,hour_in_day,hour,province,region,country,owner,project,agent,agent_hier,type_ext
0,Field-89ab22cf73,2023-04-27 22:00:00,-80.0,20.0,0.0,-22.479290,GRND_WATER_G,2023-04-27 22:00:00,2023-04-27,2023-04-27,...,22,2023-04-27 22:00:00,FE,ER,IT,IFarming,ABDS,Interpolated--80_20_0,AssignedDevice,"GRND_WATER_G-(-80,20,0)"
1,Field-89ab22cf73,2023-04-27 22:00:00,-80.0,40.0,0.0,-22.479290,GRND_WATER_G,2023-04-27 22:00:00,2023-04-27,2023-04-27,...,22,2023-04-27 22:00:00,FE,ER,IT,IFarming,ABDS,Interpolated--80_40_0,AssignedDevice,"GRND_WATER_G-(-80,40,0)"
2,Field-89ab22cf73,2023-04-27 22:00:00,-80.0,60.0,0.0,-22.766877,GRND_WATER_G,2023-04-27 22:00:00,2023-04-27,2023-04-27,...,22,2023-04-27 22:00:00,FE,ER,IT,IFarming,ABDS,Interpolated--80_60_0,AssignedDevice,"GRND_WATER_G-(-80,60,0)"
3,Field-89ab22cf73,2023-04-27 22:00:00,-50.0,20.0,0.0,-21.616472,GRND_WATER_G,2023-04-27 22:00:00,2023-04-27,2023-04-27,...,22,2023-04-27 22:00:00,FE,ER,IT,IFarming,ABDS,Interpolated--50_20_0,AssignedDevice,"GRND_WATER_G-(-50,20,0)"
4,Field-89ab22cf73,2023-04-27 22:00:00,-50.0,40.0,0.0,-21.904088,GRND_WATER_G,2023-04-27 22:00:00,2023-04-27,2023-04-27,...,22,2023-04-27 22:00:00,FE,ER,IT,IFarming,ABDS,Interpolated--50_40_0,AssignedDevice,"GRND_WATER_G-(-50,40,0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913170,Field-365e089d70,2023-10-31 08:00:00,55.0,35.0,0.0,-1123.927706,GRND_WATER_G,2023-10-31 08:00:00,2023-10-31,2023-10-31,...,8,2023-10-31 08:00:00,FE,ER,IT,IFarming,ABDS,Interpolated-55_35_0,AssignedDevice,"GRND_WATER_G-(55,35,0)"
1913171,Field-365e089d70,2023-10-31 08:00:00,55.0,40.0,0.0,-1280.733324,GRND_WATER_G,2023-10-31 08:00:00,2023-10-31,2023-10-31,...,8,2023-10-31 08:00:00,FE,ER,IT,IFarming,ABDS,Interpolated-55_40_0,AssignedDevice,"GRND_WATER_G-(55,40,0)"
1913172,Field-365e089d70,2023-10-31 08:00:00,80.0,45.0,0.0,-297.885716,GRND_WATER_G,2023-10-31 08:00:00,2023-10-31,2023-10-31,...,8,2023-10-31 08:00:00,FE,ER,IT,IFarming,ABDS,Interpolated-80_45_0,AssignedDevice,"GRND_WATER_G-(80,45,0)"
1913173,Field-365e089d70,2023-10-31 08:00:00,80.0,50.0,0.0,-520.870719,GRND_WATER_G,2023-10-31 08:00:00,2023-10-31,2023-10-31,...,8,2023-10-31 08:00:00,FE,ER,IT,IFarming,ABDS,Interpolated-80_50_0,AssignedDevice,"GRND_WATER_G-(80,50,0)"
1913174,Field-365e089d70,2023-10-31 08:00:00,80.0,55.0,0.0,-743.855723,GRND_WATER_G,2023-10-31 08:00:00,2023-10-31,2023-10-31,...,8,2023-10-31 08:00:00,FE,ER,IT,IFarming,ABDS,Interpolated-80_55_0,AssignedDevice,"GRND_WATER_G-(80,55,0)"

In [7]:
extend_df(dw, "IFarming", "ABDS")
dw

,field,value,unit,measurement_type,x,y,z,latitude,longitude,timestamp,...,hour_in_day,hour,province,region,country,owner,project,agent,agent_hier,type_ext
0,Field-89ab22cf73,-20.465914,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,2023-05-01 21:45:06,...,21,2023-05-01 21:00:00,FE,ER,IT,IFarming,ABDS,Sensor-25_-60_0,AssignedDevice,"GRND_WATER_G-(25,-60,0)"
1,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,2023-05-01 21:30:12,...,21,2023-05-01 21:00:00,FE,ER,IT,IFarming,ABDS,Sensor-25_-60_0,AssignedDevice,"GRND_WATER_G-(25,-60,0)"
2,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,2023-05-01 21:15:07,...,21,2023-05-01 21:00:00,FE,ER,IT,IFarming,ABDS,Sensor-25_-60_0,AssignedDevice,"GRND_WATER_G-(25,-60,0)"
3,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,2023-05-01 21:00:07,...,21,2023-05-01 21:00:00,FE,ER,IT,IFarming,ABDS,Sensor-25_-60_0,AssignedDevice,"GRND_WATER_G-(25,-60,0)"
4,Field-89ab22cf73,-20.753568,cbar,GRND_WATER_G,25.0,-60.0,0.0,44.23484,11.801682,2023-05-01 20:45:12,...,20,2023-05-01 20:00:00,FE,ER,IT,IFarming,ABDS,Sensor-25_-60_0,AssignedDevice,"GRND_WATER_G-(25,-60,0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716651,Field-89ab22cf73,-914.649279,cbar,GRND_WATER_G,80.0,-60.0,0.0,44.23484,11.801681,2023-10-31 06:45:54,...,6,2023-10-31 06:00:00,FE,ER,IT,IFarming,ABDS,Sensor-80_-60_0,AssignedDevice,"GRND_WATER_G-(80,-60,0)"
716652,Field-89ab22cf73,-296.848857,cbar,GRND_WATER_G,80.0,-20.0,0.0,44.23484,11.801681,2023-10-31 07:30:52,...,7,2023-10-31 07:00:00,FE,ER,IT,IFarming,ABDS,Sensor-80_-20_0,AssignedDevice,"GRND_WATER_G-(80,-20,0)"
716653,Field-89ab22cf73,-295.735528,cbar,GRND_WATER_G,80.0,-20.0,0.0,44.23484,11.801681,2023-10-31 07:00:51,...,7,2023-10-31 07:00:00,FE,ER,IT,IFarming,ABDS,Sensor-80_-20_0,AssignedDevice,"GRND_WATER_G-(80,-20,0)"
716654,Field-89ab22cf73,-295.039619,cbar,GRND_WATER_G,80.0,-20.0,0.0,44.23484,11.801681,2023-10-31 06:45:54,...,6,2023-10-31 06:00:00,FE,ER,IT,IFarming,ABDS,Sensor-80_-20_0,AssignedDevice,"GRND_WATER_G-(80,-20,0)"
716655,Field-89ab22cf73,-1140.522569,cbar,GRND_WATER_G,80.0,-40.0,0.0,44.23484,11.801681,2023-10-31 07:30:52,...,7,2023-10-31 07:00:00,FE,ER,IT,IFarming,ABDS,Sensor-80_-40_0,AssignedDevice,"GRND_WATER_G-(80,-40,0)"

In [8]:
tables = get_tables()
tables["dt_agent"]["json"] = ["x", "y", "z"]

engine = get_engine(out_db_params)
columns = get_columns(tables)
for tablename, cols in tables.items():
    print(tablename)
    edf = dw[cols["col"]]
    compute_json(edf, dw, cols)
    edf = edf[cols["col"] + ["rawJSON"]]
    read_and_update(tablename, extend_dates(edf) if tablename == "dt_time" else edf, engine)

edf

postgresql+psycopg2://root:root@127.0.0.1:5432/db
dt_field

/home/mfrancia/watering-dataset/datasets/shared.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

dt_time

/home/mfrancia/watering-dataset/datasets/shared.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

dt_agent

/home/mfrancia/watering-dataset/datasets/shared.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = df_all[list(set(jso) & set(list(df_all.columns)))].apply(lambda row: row_to_json(row), axis=1)

dt_measure
ft_measurement

/home/mfrancia/watering-dataset/datasets/shared.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})
/home/mfrancia/watering-dataset/datasets/shared.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rawJSON"] = json.dumps({})

,agent,measurement_type,field,owner,project,timestamp,value,rawJSON
0,Sensor-25_-60_0,GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-05-01 21:45:06,-20.465914,{}
1,Sensor-25_-60_0,GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-05-01 21:30:12,-20.753568,{}
2,Sensor-25_-60_0,GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-05-01 21:15:07,-20.753568,{}
3,Sensor-25_-60_0,GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-05-01 21:00:07,-20.753568,{}
4,Sensor-25_-60_0,GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-05-01 20:45:12,-20.753568,{}
...,...,...,...,...,...,...,...,...
716651,Sensor-80_-60_0,GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-10-31 06:45:54,-914.649279,{}
716652,Sensor-80_-20_0,GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-10-31 07:30:52,-296.848857,{}
716653,Sensor-80_-20_0,GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-10-31 07:00:51,-295.735528,{}
716654,Sensor-80_-20_0,GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-10-31 06:45:54,-295.039619,{}
716655,Sensor-80_-40_0,GRND_WATER_G,Field-89ab22cf73,IFarming,ABDS,2023-10-31 07:30:52,-1140.522569,{}

In [10]:
from psycopg2 import sql

engine = get_engine(out_db_params)
conn = get_connection(config)
cursor = conn.cursor()

for tablename, _ in tables.items():
    df = pd.read_sql_table(tablename, engine).drop_duplicates()
    df.to_sql(tablename, engine, if_exists='replace', index=False)

for statement in [
    "ALTER TABLE dt_time ADD PRIMARY KEY (timestamp);",
    "ALTER TABLE dt_field ADD PRIMARY KEY (field);",
    "ALTER TABLE dt_agent ADD PRIMARY KEY (agent);",
    "ALTER TABLE dt_measure ADD PRIMARY KEY (measurement_type);",
    "ALTER TABLE ft_measurement ADD PRIMARY KEY (timestamp, field, agent, project, measurement_type, owner);",
    "ALTER TABLE ft_measurement ADD FOREIGN KEY (timestamp) REFERENCES dt_time(timestamp);",
    "ALTER TABLE ft_measurement ADD FOREIGN KEY (field) REFERENCES dt_field(field);",
    "ALTER TABLE ft_measurement ADD FOREIGN KEY (agent) REFERENCES dt_agent(agent);"
    "ALTER TABLE ft_measurement ADD FOREIGN KEY (measurement_type) REFERENCES dt_measure(measurement_type);"
    ]:
    #try: 
    print(statement)
    create_db_query = sql.SQL(statement)
    cursor.execute(create_db_query)
    conn.commit()
    # except Exception as e:
    #    print(e) 

cursor.close()
conn.close()

postgresql+psycopg2://root:root@127.0.0.1:5432/db
ALTER TABLE dt_time ADD PRIMARY KEY (timestamp);
ALTER TABLE dt_field ADD PRIMARY KEY (field);
ALTER TABLE dt_agent ADD PRIMARY KEY (agent);
ALTER TABLE dt_measure ADD PRIMARY KEY (measurement_type);
ALTER TABLE ft_measurement ADD PRIMARY KEY (timestamp, field, agent, project, measurement_type, owner);
ALTER TABLE ft_measurement ADD FOREIGN KEY (timestamp) REFERENCES dt_time(timestamp);
ALTER TABLE ft_measurement ADD FOREIGN KEY (field) REFERENCES dt_field(field);
ALTER TABLE ft_measurement ADD FOREIGN KEY (agent) REFERENCES dt_agent(agent);ALTER TABLE ft_measurement ADD FOREIGN KEY (measurement_type) REFERENCES dt_measure(measurement_type);