In [123]:
from shared import *

In [124]:
db_params = {
    'host': config["IN3_HOST"],
    'database': config["IN3_DB"],
    'user': config["IN3_USER"],
    'password': config["IN3_PWD"],
    'port': config["IN3_PORT"]
}

engine = get_engine(db_params)
engine

postgresql+psycopg2://root:root@127.0.0.1:5432/db

Engine(postgresql+psycopg2://root:***@127.0.0.1:5432/db)

In [125]:
def ext_date(dt):
    dt['timestamp'] = pd.to_datetime(dt['timestamp'], unit='s')
    dt['date'] = dt['timestamp'].dt.date
    dt['year'] = dt['timestamp'].dt.year
    dt['month'] = dt['timestamp'].dt.month
    dt['month'] = dt.apply(lambda x: '{}-{}'.format(x["year"], x["month"]), axis=1)
    dt['week'] = dt['timestamp'].dt.isocalendar().week
    dt['week_in_year'] = dt.apply(lambda x: '{}-{}'.format(x["year"], x["week"]), axis=1)

In [126]:
sql_query = f"""
select 
    t.latitude, t.longitude, t.geom as geometry, t.adm_prov as province, t.area, t.updated_at, t.date_start, t.date_end, t.percentuale_vegetazione_spontanea as svp_manual, t.validità as validity,
    a.type_name as water_source, 
    -- b.*, 
    c.element_name as environmental_element, c.element_category as environmental_category, 
    d.colture_name as crop_type,
    ft.*
from test_dim_trap t,
    (select DISTINCT ON (i.gid) i.gid, a.* from test_bridge_trap_acque_interne i, test_dim_acque_interne a where i.acque_interne_id = a.acque_interne_id order by i.gid, acque_interne_id) a,
    -- (select DISTINCT ON (i.gid) i.gid, a.* from test_bridge_trap_rete_bonifica i, test_dim_rete_bonifica a where i.rete_bonifica_id = a.rete_bonifica_id order by i.gid, rete_bonifica_id) b,
    (select DISTINCT ON (i.gid) i.gid, a.* from test_bridge_trap_case i, test_dim_case a where i.cid = a.cid order by i.gid, cid) c,
    (select DISTINCT ON (i.gid) i.gid, a.* from test_bridge_trap_uso_suolo i, test_dim_uso_suolo a where i.cid = a.cid order by i.gid, cid) d,
    test_fact_passive_monitoring_normalized ft,
    (select x.gid from test_fact_passive_monitoring_normalized y, test_dim_trap x where x.validità != 'no' and x.gid = y.gid group by x.gid having count(*) > 22) clean_trap
    -- , test_veg_sp_mtci14_ndvi07 sp, "percentage_GROUND_TRUTH_2021" spgt
where clean_trap.gid = t.gid and t.gid = a.gid and t.gid = c.gid and t.gid = d.gid and ft.gid = t.gid; -- and t.gid = b.gid and t.gid = sp.gid and t.gid = spgt.gid;
"""
dt = pd.read_sql(sql_query, engine)
dt.columns = [x.replace("day_", "").replace("rad_", "radiations_").replace("u_", "humidity_").replace("prec_", "precipitations_").replace("t_", "temperature_") for x in dt.columns]
dt = dt.rename({
    'Giorni monitoraggio': 'days_since_last_monitoring',
    'grado_giorno': 'degree_days',
    'Adulti': 'adults',
    'Giovani II - III (small)': 'small_instars',
    'Giovani IV - V (large)': 'large_instars',
    'evapo_trans': 'evapo_transpiration'
}, axis=1)
dt["total_captures"] = dt["adults"] + dt["small_instars"] + dt["large_instars"]
dt = dt.replace("", np.nan).convert_dtypes()
for c in [x for x in dt.columns if "_min" in x or "_max" in x or "_avg" in x or "_day" in x]:
    dt[c] = dt[c].astype(float)
ext_date(dt)
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10139 entries, 0 to 10138
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   latitude                    10139 non-null  Float64
 1   longitude                   10139 non-null  Float64
 2   geometry                    10139 non-null  string
 3   province                    10139 non-null  string
 4   area                        10139 non-null  string
 5   updated_at                  10139 non-null  datetime64[ns]
 6   date_start                  10139 non-null  object
 7   date_end                    10139 non-null  object
 8   svp_manual                  9684 non-null   Int64
 9   validity                    10139 non-null  string
 10  water_source                10139 non-null  string
 11  environmental_element       10139 non-null  string
 12  environmental_category      10139 non-null  string
 13  crop_type                   10139 non-null  string
 14  timestamp                   10139 non-null  datetime64[s]
 15  gid                         10139 non-null  Int64
 16  adults                      10139 non-null  Float64
 17  small_instars               10139 non-null  Float64
 18  large_instars               10139 non-null  Float64
 19  temperature_avg             10139 non-null  float64
 20  temperature_max             10139 non-null  float64
 21  temperature_min             10139 non-null  float64
 22  humidity_avg                10139 non-null  float64
 23  humidity_max                7493 non-null   float64
 24  humidity_min                7493 non-null   float64
 25  precipitations_day          10139 non-null  float64
 26  radiations_day              7493 non-null   float64
 27  evapo_transpiration         10139 non-null  Float64
 28  wind_direction_day          7493 non-null   float64
 29  wind_speed_avg              7493 non-null   float64
 30  wind_speed_max              7493 non-null   float64
 31  Ore utili                   10139 non-null  Int64
 32  days_since_last_monitoring  10139 non-null  Int64
 33  degree_days                 10139 non-null  float64
 34  total_captures              10139 non-null  Float64
 35  date                        10139 non-null  object
 36  year                        10139 non-null  int32
 37  month                       10139 non-null  object
 38  week                        10139 non-null  UInt32
 39  week_in_year                10139 non-null  object
dtypes: Float64(7), Int64(4), UInt32(1), datetime64[ns](1), datetime64[s](1), float64(12), int32(1), object(5), string(8)
memory usage: 3.1+ MB

In [127]:
path = "data/cimice-dataset/CUBE_"
crop = pd.read_csv(f"{path}dim_crop.csv")
trap = pd.read_csv(f"{path}dim_trap.csv")
ft = pd.read_csv(f"{path}fact_passive_monitoring.csv")
bcrop = pd.read_csv(f"{path}bridge_trap_crop.csv")
bcrop = bcrop.groupby('gid').first().reset_index()
dt = ft.merge(bcrop.merge(crop, on=["crop_id"]), on='gid').merge(trap, on='gid')
dt = dt.replace("", np.nan).convert_dtypes()
dt = dt.rename({
    'Adults captured': 'adults', 
    'Small instars captured': 'small_instars',
    'Large instars captured': 'large_instars',
    'Avg temperature': 'temperature_avg',
    'Max temperature': 'temperature_max',
    'Min temperature': 'temperature_min',
    'Avg humidity': 'humidity_avg',
    'district': 'province',
    'Max humidity': 'humidity_max',
    'Min humidity': 'humidity_min',
    'Tot precipitations': 'precipitations',
    'Avg wind speed': 'windspeed_avg',
    'Max wind speed': 'windspeed_max'}, axis=1)
dt["total_captures"] = dt["adults"] + dt["small_instars"] + dt["large_instars"]
dt["region"] = "ER" 
for c in [x for x in dt.columns if "_min" in x or "_max" in x or "_avg" in x or "_day" in x]:
    dt[c] = dt[c].astype(float)
ext_date(dt)
dt.columns

Index(['timestamp', 'gid', 'adults', 'small_instars', 'large_instars',
       'temperature_avg', 'temperature_max', 'temperature_min', 'humidity_avg',
       'humidity_max', 'humidity_min', 'precipitations', 'windspeed_avg',
       'windspeed_max', 'monitored_days', 'degree_days', 'cum_degree_days',
       'crop_id', 'crop_type', 'monitoring_started', 'monitoring_ended',
       'longitude', 'latitude', 'province', 'name', 'ms_id', 'svp (manual)',
       'svp (auto)', 'validity', 'area', 'total_captures', 'region', 'date',
       'year', 'month', 'week', 'week_in_year'],
      dtype='object')

In [128]:
dt.columns

Index(['timestamp', 'gid', 'adults', 'small_instars', 'large_instars',
       'temperature_avg', 'temperature_max', 'temperature_min', 'humidity_avg',
       'humidity_max', 'humidity_min', 'precipitations', 'windspeed_avg',
       'windspeed_max', 'monitored_days', 'degree_days', 'cum_degree_days',
       'crop_id', 'crop_type', 'monitoring_started', 'monitoring_ended',
       'longitude', 'latitude', 'province', 'name', 'ms_id', 'svp (manual)',
       'svp (auto)', 'validity', 'area', 'total_captures', 'region', 'date',
       'year', 'month', 'week', 'week_in_year'],
      dtype='object')

![image](./imgs/cimice-dfm.JPG)

In [129]:
tables = {
    "cimice_ft_captures": {"col": ['gid', 'timestamp', 'crop_id',
                                   'adults', 'small_instars', 'large_instars', 'temperature_avg', 'temperature_max', 'temperature_min',
                                   'humidity_avg', 'humidity_max', 'humidity_min',
                                   'precipitations',
                                   # 'radiations_day', 'evapo_transpiration', 'wind_direction_day',
                                   'windspeed_avg', 'windspeed_max',
                                   # 'days_since_last_monitoring', 
                                   'cum_degree_days', 'degree_days', 'total_captures'
                                   ]},
    "cimice_dt_trap": {"col": ['gid', 
                               # 'latitude', 'longitude', 'geometry',
                               'province', 'area', 'region',
                               # 'validity', 'water_source', 'environmental_element', 'environmental_category'
                               ]},
    "cimice_dt_time": {"col": ['timestamp', 'date', 'month', 'year', 'week', 'week_in_year' ]},
    "cimice_dt_crop": {"col": ['crop_id', 'crop_type' ]}
}
tables

{'cimice_ft_captures': {'col': ['gid',
   'timestamp',
   'crop_id',
   'adults',
   'small_instars',
   'large_instars',
   'temperature_avg',
   'temperature_max',
   'temperature_min',
   'humidity_avg',
   'humidity_max',
   'humidity_min',
   'precipitations',
   'windspeed_avg',
   'windspeed_max',
   'cum_degree_days',
   'degree_days',
   'total_captures']},
 'cimice_dt_trap': {'col': ['gid', 'province', 'area', 'region']},
 'cimice_dt_time': {'col': ['timestamp',
   'date',
   'month',
   'year',
   'week',
   'week_in_year']},
 'cimice_dt_crop': {'col': ['crop_id', 'crop_type']}}

In [130]:
ft = dt[tables["cimice_ft_captures"]["col"]].drop_duplicates()
ft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10949 entries, 0 to 10948
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gid              10949 non-null  Int64
 1   timestamp        10949 non-null  datetime64[s]
 2   crop_id          10949 non-null  Int64
 3   adults           10949 non-null  Float64
 4   small_instars    10949 non-null  Float64
 5   large_instars    10949 non-null  Float64
 6   temperature_avg  10949 non-null  float64
 7   temperature_max  10949 non-null  float64
 8   temperature_min  10949 non-null  float64
 9   humidity_avg     10949 non-null  float64
 10  humidity_max     8180 non-null   float64
 11  humidity_min     8180 non-null   float64
 12  precipitations   10949 non-null  Float64
 13  windspeed_avg    8180 non-null   float64
 14  windspeed_max    8180 non-null   float64
 15  cum_degree_days  10949 non-null  float64
 16  degree_days      10949 non-null  float64
 17  total_captures   10949 non-null  Float64
dtypes: Float64(5), Int64(2), datetime64[s](1), float64(10)
memory usage: 1.6 MB

In [131]:
dt_t = dt[tables["cimice_dt_trap"]["col"]].drop_duplicates()
dt_t

      gid province      area region
0     149       MO     BO-FE     ER
1     144       MO     MO-RE     ER
2     215       RA  FC-RA-RN     ER
3     222       RA  FC-RA-RN     ER
4     217       RA  FC-RA-RN     ER
...   ...      ...       ...    ...
8650  741       FE     BO-FE     ER
8719  705       RA  FC-RA-RN     ER
8727  707       RA  FC-RA-RN     ER
8736  706       RA  FC-RA-RN     ER
8778  702       RA  FC-RA-RN     ER

[404 rows x 4 columns]

In [132]:
from psycopg2 import sql

engine = get_engine(out_db_params)
conn = get_connection(config)
cursor = conn.cursor()

for tablename, columns in tables.items():
    try: 
        create_db_query = sql.SQL("DROP TABLE {} CASCADE;").format(sql.Identifier(tablename))
        cursor.execute(create_db_query)
        conn.commit()
    except:
        print("Table {} does not exist".format(tablename))
    
    try: 
        if tablename ==  "cimice_dt_time":
            #2020-04-01 "timestamp" min
            #2022-10-31 "timestamp" max
            from datetime import date, timedelta
            sdate = date(2020, 4, 1)   # start date
            edate = date(2022, 10, 31)   # end date
            # Add a constant key column to both DataFrames
            # df1['key'] = 1
            # df2['key'] = 1
            # Perform the Cartesian product by merging on the constant key
            # cartesian_product = pd.merge(df1, df2, on='key').drop('key', axis=1)
            mydt = pd.DataFrame({'timestamp': pd.date_range(sdate, edate-timedelta(days=1), freq='d')})
            mydt = pd.merge(dt[columns["col"]].drop_duplicates(), mydt, on='timestamp', how='outer')
            ext_date(mydt)
            mydt.to_sql(tablename, engine, if_exists='replace', index=False)
        else:
            dt[columns["col"]].drop_duplicates().to_sql(tablename, engine, if_exists='replace', index=False)
    except Exception as e:
        print(e) 
        print("FAIL to create {}".format(tablename))


for statement in [
    "ALTER TABLE cimice_dt_time ADD PRIMARY KEY (timestamp);",
    "ALTER TABLE cimice_dt_trap ADD PRIMARY KEY (gid);",
    "ALTER TABLE cimice_dt_crop ADD PRIMARY KEY (crop_id);",
    "ALTER TABLE cimice_ft_captures ADD PRIMARY KEY (gid, timestamp, crop_id);",
    "ALTER TABLE cimice_ft_captures ADD FOREIGN KEY (timestamp) REFERENCES cimice_dt_time(timestamp);",
    "ALTER TABLE cimice_ft_captures ADD FOREIGN KEY (gid) REFERENCES cimice_dt_trap(gid);",
    "ALTER TABLE cimice_ft_captures ADD FOREIGN KEY (crop_id) REFERENCES cimice_dt_crop(crop_id);",
    ]:
    try: 
        print(statement)
        create_db_query = sql.SQL(statement)
        cursor.execute(create_db_query)
        conn.commit()
    except Exception as e:
        print(e) 

cursor.close()
conn.close()

postgresql+psycopg2://root:root@127.0.0.1:5432/db
ALTER TABLE cimice_dt_time ADD PRIMARY KEY (timestamp);
ALTER TABLE cimice_dt_trap ADD PRIMARY KEY (gid);
ALTER TABLE cimice_dt_crop ADD PRIMARY KEY (crop_id);
ALTER TABLE cimice_ft_captures ADD PRIMARY KEY (gid, timestamp, crop_id);
ALTER TABLE cimice_ft_captures ADD FOREIGN KEY (timestamp) REFERENCES cimice_dt_time(timestamp);
ALTER TABLE cimice_ft_captures ADD FOREIGN KEY (gid) REFERENCES cimice_dt_trap(gid);
ALTER TABLE cimice_ft_captures ADD FOREIGN KEY (crop_id) REFERENCES cimice_dt_crop(crop_id);