In [1]:
from shared import *
import cx_Oracle
import os
# os.environ["LD_LIBRARY_PATH"] = config["LD_LIBRARY_PATH"] # no, non funziona! Devo esportare prima di lanciare python -m notebook
print(config["LD_LIBRARY_PATH"])
cx_Oracle.init_oracle_client(lib_dir=config["LD_LIBRARY_PATH"])

/home/mfrancia/watering-dataset/datasets/libs/instantclient_21_1/

In [2]:
engine_in = get_engine(out_db_params)
engine_in

postgresql+psycopg2://root:root@127.0.0.1:5432/db

Engine(postgresql+psycopg2://root:***@127.0.0.1:5432/db)

From Postgres to Oracle

In [3]:
from sqlalchemy.types import Float
from sqlalchemy import types
from sqlalchemy.dialects import oracle
for i, tables in {
    1: {
        "dt_time": {"pk": ["timestamp"]}, 
        "dt_field": {"pk": ["field"]}, 
        "dt_agent": {"pk": ["agent"]}, 
        "dt_measure": {"pk": ["measurement_type"]}, 
        "ft_measurement": {
            "pk": ["agent", "measurement_type", "field", "owner", "project", "timestamp",], 
            "fk": [("dt_agent", "agent"), ("dt_field", "field"), ("dt_measure", "measurement_type"), ("dt_time", "timestamp")]
        }
    },
    2: {
        "cimice_dt_time": {"pk": ["timestamp"]},
        "cimice_dt_trap": {"pk": ["gid"]},
        "cimice_dt_crop": {"pk": ["crop_id"]},
        "cimice_ft_captures": {
            "pk": ["timestamp", "gid", "crop_id"], 
            "fk": [("cimice_dt_crop", "crop_id"), ("cimice_dt_trap", "gid"), ("cimice_dt_time", "timestamp")]
        }
    }
}.items():
    db_params = {
        'host': config["OUT_ORA{}_HOST".format(i)],
        'database': config["OUT_ORA{}_DB".format(i)],
        'user': config["OUT_ORA{}_USER".format(i)],
        'password': config["OUT_ORA{}_PWD".format(i)],
        'port': config["OUT_ORA{}_PORT".format(i)]
    }

    connection = cx_Oracle.connect(
        user=db_params["user"],
        password=db_params["password"],
        dsn="{}:{}/{}".format(db_params["host"], db_params["port"], db_params["database"])
    )
    
    # Create a cursor
    cursor = connection.cursor()
    engine_out = get_engine(db_params, type="oracle")
    for table, keys in tables.items():
        sql_drop_table = f"DROP TABLE {table} CASCADE CONSTRAINTS"
        print(sql_drop_table)
        try:
            cursor.execute(sql_drop_table)
            connection.commit()    
        except Exception as e:
            print(e)
        sql_query = "SELECT * FROM {}".format(table)
        print(sql_query)
        dt = pd.read_sql(sql_query, engine_in)
        float_columns = dt.select_dtypes(include=['float32', 'float64', 'Float32', 'Float64']).columns
        string_columns = dt.select_dtypes(include=['object']).columns
        dtype_mapping = {}
        for x in string_columns:
            dtype_mapping[x] = types.VARCHAR(dt[x].apply(lambda y: len(str(y))).max())
        for x in float_columns:
            dtype_mapping[x] = Float(precision=53).with_variant(oracle.FLOAT(binary_precision=53), 'oracle')
        dt.to_sql(table, engine_out, if_exists='replace', index=False, chunksize=100000, dtype=dtype_mapping)
        sql = f"ALTER TABLE {table} ADD CONSTRAINT pk_{table} PRIMARY KEY ({','.join(keys["pk"])})"
        print(sql)
        cursor.execute(sql)
        connection.commit()
        if "fk" in keys:
            for (referenced_table, foreign_key_column) in keys["fk"]:
                import hashlib
                id = hashlib.sha256(f"{table}_{referenced_table}".encode()).hexdigest()[:10]
                if len(foreign_key_column) == 2:
                    sql = f"ALTER TABLE {table} ADD CONSTRAINT fk_{id} FOREIGN KEY ({foreign_key_column[0]}) REFERENCES {referenced_table}({foreign_key_column[1]})"
                else:
                    sql = f"ALTER TABLE {table} ADD CONSTRAINT fk_{id} FOREIGN KEY ({foreign_key_column}) REFERENCES {referenced_table}({foreign_key_column})"
                print(sql)
                cursor.execute(sql)
                connection.commit()  
    print("Done.")
    print("Create tables for metadata.")
    clean_and_create_metadata(cursor)
    print("Done.")
    cursor.close()
    connection.close()

oracle+cx_oracle://measurement:oracle@127.0.0.1:1521/xe
DROP TABLE dt_time CASCADE CONSTRAINTS
SELECT * FROM dt_time
ALTER TABLE dt_time ADD CONSTRAINT pk_dt_time PRIMARY KEY (timestamp)
DROP TABLE dt_field CASCADE CONSTRAINTS
SELECT * FROM dt_field
ALTER TABLE dt_field ADD CONSTRAINT pk_dt_field PRIMARY KEY (field)
DROP TABLE dt_agent CASCADE CONSTRAINTS
SELECT * FROM dt_agent
ALTER TABLE dt_agent ADD CONSTRAINT pk_dt_agent PRIMARY KEY (agent)
DROP TABLE dt_measure CASCADE CONSTRAINTS
SELECT * FROM dt_measure
ALTER TABLE dt_measure ADD CONSTRAINT pk_dt_measure PRIMARY KEY (measurement_type)
DROP TABLE ft_measurement CASCADE CONSTRAINTS
SELECT * FROM ft_measurement
ALTER TABLE ft_measurement ADD CONSTRAINT pk_ft_measurement PRIMARY KEY (agent,measurement_type,field,owner,project,timestamp)
ALTER TABLE ft_measurement ADD CONSTRAINT fk_066597e450 FOREIGN KEY (agent) REFERENCES dt_agent(agent)
ALTER TABLE ft_measurement ADD CONSTRAINT fk_5c8fc7d46b FOREIGN KEY (field) REFERENCES dt_field(field)
ALTER TABLE ft_measurement ADD CONSTRAINT fk_2a3d31a03a FOREIGN KEY (measurement_type) REFERENCES dt_measure(measurement_type)
ALTER TABLE ft_measurement ADD CONSTRAINT fk_1a21bbec68 FOREIGN KEY (timestamp) REFERENCES dt_time(timestamp)
Done.
Create tables for metadata.
Done.
oracle+cx_oracle://cimice:oracle@127.0.0.1:1521/xe
DROP TABLE cimice_dt_time CASCADE CONSTRAINTS
SELECT * FROM cimice_dt_time
ALTER TABLE cimice_dt_time ADD CONSTRAINT pk_cimice_dt_time PRIMARY KEY (timestamp)
DROP TABLE cimice_dt_trap CASCADE CONSTRAINTS
SELECT * FROM cimice_dt_trap
ALTER TABLE cimice_dt_trap ADD CONSTRAINT pk_cimice_dt_trap PRIMARY KEY (gid)
DROP TABLE cimice_dt_crop CASCADE CONSTRAINTS
SELECT * FROM cimice_dt_crop
ALTER TABLE cimice_dt_crop ADD CONSTRAINT pk_cimice_dt_crop PRIMARY KEY (crop_id)
DROP TABLE cimice_ft_captures CASCADE CONSTRAINTS
SELECT * FROM cimice_ft_captures
ALTER TABLE cimice_ft_captures ADD CONSTRAINT pk_cimice_ft_captures PRIMARY KEY (timestamp,gid,crop_id)
ALTER TABLE cimice_ft_captures ADD CONSTRAINT fk_b6326286a9 FOREIGN KEY (crop_id) REFERENCES cimice_dt_crop(crop_id)
ALTER TABLE cimice_ft_captures ADD CONSTRAINT fk_0d64f7de25 FOREIGN KEY (gid) REFERENCES cimice_dt_trap(gid)
ALTER TABLE cimice_ft_captures ADD CONSTRAINT fk_d99320f899 FOREIGN KEY (timestamp) REFERENCES cimice_dt_time(timestamp)
Done.
Create tables for metadata.
Done.