In [ ]:
from shared import *
import cx_Oracle
import os
os.environ["LD_LIBRARY_PATH"] = config["LD_LIBRARY_PATH"]
print(os.environ["LD_LIBRARY_PATH"])
print(config["LD_LIBRARY_PATH"])
cx_Oracle.init_oracle_client(lib_dir=config["LD_LIBRARY_PATH"])

In [ ]:
engine_in = get_engine(out_db_params)
engine_in

In [ ]:
for i, tables in {
    1: ["dt_time", "dt_field", "dt_agent", "ft_measurement",],
    2: ["cimice_dt_time", "cimice_dt_trap", "cimice_ft_captures",]
}.items():
    db_params = {
        'host': config["OUT_ORA{}_HOST".format(i)],
        'database': config["OUT_ORA{}_DB".format(i)],
        'user': config["OUT_ORA{}_USER".format(i)],
        'password': config["OUT_ORA{}_PWD".format(i)],
        'port': config["OUT_ORA{}_PORT".format(i)]
    }
    for table in tables:
        engine_out = get_engine(db_params, type="oracle")
        sql_query = "SELECT * FROM {}".format(table)
        print(sql_query)
        dt = pd.read_sql(sql_query, engine_in)
        dt.to_sql(table, engine_out, if_exists='replace', index=False, chunksize=100000)